@import '~bootstrap/scss/bootstrap';

$whiskey-brown: #b38542;
$title-color: #fbf9f9;
$list-color: #fff;
$theme-font: 'Special Elite', sans-serif;

.alterable {
  background-color: #d3d3d3;
}

body {
  background-color: #000;

  img {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

.buffer {
  height: 8vh;
}

button {
  margin: 2px;
}

.canvas {
  background-color: $list-color;
  font-family: $theme-font;
  justify-content: center;
  width: 80%;
  height: 80%;
}

// Needed to create this helper div to center the image inside it, without impacting the list of whiskies when they populate.
.img-div {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 auto;

  img {
    height: auto;
    width: 20%;
  }
}
// ---

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  margin: auto;
  width: 100vw;

  h1 {
    color: $list-color;
    font-family: $theme-font;
  }
 }

.entry-fields {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 100%;

  input {
    margin: 0 5px;
  }
}

header {
  color: $title-color;
  position: absolute;
  right: 1vw;
  top: 1vh;
  z-index: 1000;

  h1 {
    font-family: $theme-font;
  }
}

.list-header {
  border: 1px solid green;
  position: static;
}

.message {
  color: $list-color;
  display: flex;
  font-family: $theme-font;
  font-size: 24px;
  font-style: oblique;
  justify-content: center;
  margin: auto;
  width: 100%;
}

form {
  margin: 3px auto;
}

.main {
  box-sizing: border-box;
  height: 100%;
  position: fixed;
  width: 100%
}

.pos-f-t {
  z-index: 50;
}

.submission {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 10%;
}

.rud-buttons {
  display: flex;
  margin: auto;
  width: 50%;
}

.whiskies {
  .items {
    padding: 0 0 0 1%;

    &:hover {
      background-color: #d3d3d3;
    }
  }
}

.auth-message {
  align-self: center;
  color: $list-color;
  font-family: $theme-font;
  font-style: italic;
  margin: 0 0 0 1%;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
